[submodule "external/enet"]
	path = external/enet
	url = https://github.com/lsalzman/enet.git
[submodule "external/VoxelVGL"]
	path = external/VoxelVGL
	url = https://github.com/I-had-a-bad-idea/VoxelVGL.git
[submodule "external/curl"]
	path = external/curl
	url = https://github.com/curl/curl.git
[submodule "external/libtiff"]
	path = external/libtiff
	url = https://gitlab.com/libtiff/libtiff.git
